@model IEnumerable<Groupon.Models.Entity.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2 style="text-align:center">Product List</h2>

<a href="/product/create" class="btn btn-success">Add</a>

<table class="table">
    <tr>
        <th>
          Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalePercent)
        </th>
       
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>

        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalePercent)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                <img src="@item.Image" width="100" height="100" />
            </td>

            <td>
                <a href="/Product/Edit/@item.ProductID" class="btn btn-primary">Edit</a>
                <a href="/Product/Delete/@item.ProductID" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }

</table>
